@font-face {
  font-family: "retro";
  src: url(retro.ttf);
}

body {
  background-color: #680e60;
  font-family: "retro";
  font-size: 1.2rem;
  line-height: 1.9rem;
  color: #19d833;
}

p {
  font-size: 1.5rem;
}

h1 {
  text-align: center;
  font-size: 4rem;
  line-height: 1.8rem;
}

h2 {
  text-align: center;
  font-size: 3rem;
  line-height: 3.2rem;
  margin-top: 3rem;
}

h3 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-top: 2.5rem;
}

h4 {
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 2rem;
}

a {
  color: #1df700;
  text-decoration: underline;
  font-weight: 700;
}

/* --------------- */
/* Header y navbar */
/* --------------- */

header {
  min-height: 40vh;
  background-image: url(../img/banner-h1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  margin-top: 0;
  margin-bottom: 1.4rem;
  text-shadow: 0 3px #54ff5b;
}

header h2 {
  margin: 0;
  font-size: 2rem;
  text-shadow: 0 2px #54ff5b;
}

nav {
  margin: 10px auto;
  max-width: 960px;
}

nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

nav li {
  background-color: #19d833;
  margin: 2px;
  padding: 5px;
  border-radius: 4px;
}

nav a {
  color: #1c0dd1;
  text-decoration: none;
}

nav li:hover {
  background-color: #902be2;
}

/* ---- */
/* Main */
/* ---- */

main {
  margin: 0 50px;
}

section {
  max-width: 960px;
  margin: 20px auto;
}

#fotos img {
  max-width: 300px;
  margin: 5px;
}

.wrap-img {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#encuentros a {
  color: #19d833;
  text-decoration: none;
}

#reglas ul {
  text-align: left;
}

#mail {
  font-size: 14px;
}
